<footer id="bottom">
  <p><strong>About</strong>
    Pibi&trade; is a free and open-source service.
    <br />
    You can freely use it, or <a href="http://github.com/amireh/pibi">fork it</a>.
    <a href="http://www.algollabs.com"><img src="/images/algollabs.png" /></a>
  <p><strong>Feedback</strong>
    Let us <a href="http://pibi.uservoice.com">know</a> how you like Pibi&trade;;
    would you like to see anything changed?
    Or perhaps there's a <a href="http://pibi.uservoice.com/forums/154656-general">feature</a> you miss? We hear you!
  </p>
  <p>
    <strong>Copyright</strong>

  </p>
  <div>
    <a href="http://pibi.mxvt.net">Pibi</a>
    &copy;2011-2012 <a href="http://www.algollabs.com">Algol Labs LLC.</a>
    &bull;
    <a href="/tos">Terms of Service</a>
    &bull;
    <a href="/tos">Privacy Policy</a>
  </div>
</footer>