<footer id="bottom">
<!--   <p><strong>About</strong>
    Pibi&trade; is a free and open-source service.
    <br />
    You can freely use it, or <a href="http://github.com/amireh/pibi">fork it</a>.
    <a href="http://www.algollabs.com"><img src="/images/algollabs.png" alt="Algol Labs" /></a>
  <p><strong>Feedback</strong>
    Let us <a href="http://pibi.uservoice.com">know</a> how you like Pibi&trade;;
    is there a <a href="http://pibi.uservoice.com/forums/154656-general">feature</a> you miss? We hear you!
  </p>
  <p>
    <strong>Need help?</strong>
    Check out the <a href="/faq">FAQ</a> for help with
    using Pibi's features. If you're still unsure, feel
    free to contact us at <a href="mailto:pibi.at.algollabs.com">pibi@algollabs.com</a>.
    <br />
    <br />
  </p> -->

  <div class="static_links">
    <a href="http://pibi.mxvt.net">Pibi</a><span>&copy;2013 - <a href="http://www.algollabs.com">Algol Labs LLC.</a> All rights reserved.</span>
    <a href="/tos">Terms of Service</a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/faq">FAQ</a>
    <a href="/oss">Open Source</a>
    <a href="http://pibi.uservoice.com">Feedback</a>
    <a href="<%= AppIssueURL %>">Report a bug</a>

<!--     <span class="site_validations">
      This site has valid: <a href="http://validator.nu/?doc=http%3A%2F%2Fwww.pibibot.com">Markup</a><a href="http://jigsaw.w3.org/css-validator/validator?uri=www.pibibot.com&profile=css3&usermedium=all&warning=no&vextwarning=true&lang=en">Style</a><a href="https://travis-ci.org/amireh/pibi">Code</a>
    </span> -->
  </div>
</footer>
