<footer id="bottom">
  <div class="left">
    <a href="/tos">Terms of Use</a>
    <a href="/privacy">Privacy</a>
    <a href="/oss">Open Source</a>
    <a href="<%= AppIssueURL %>">Report a bug</a>
  </div>
  <img src="/images/pibi_32.png" alt="Pibi Logo" />

  <div class="right">
    <span>&copy;2013 - <a href="http://www.algollabs.com">Algol Labs LLC.</a> All rights reserved.</span>
  </div>
</footer>
