body {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: 0;
  padding: 0;
}*/

#content { margin-left: 260px; }

.category_listing label {
  display: inline-block;
  width: 31%;
  vertical-align: top;
}
.category_listing input {
  vertical-align: middle;
}
.category_listing {
  font-size: 0.9em;
}

nav {
  position: fixed;
  width: 240px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  padding-top: 0;
}
nav ol { list-style-type: none; padding: 0; }
nav h3 {
  padding: 10px 10px 10px 20px; position: relative; left: -20px; width: 240px;
}

  /* jqModal base Styling courtesy of;
    Brice Burgess <bhb@iceburg.net> */

  /* The Window's CSS z-index value is respected (takes priority). If none is supplied,
    the Window's z-index value will be set to 3000 by default (via jqModal.js). */

  .jqmWindow {
      display: none;

      position: fixed;
      top: 17%;
      left: 50%;

      margin-left: -300px;
      width: 600px;
      /*
      background-color: #EEE;
      color: #333;
      border: 1px solid black;
      padding: 12px;*/
  }

  .jqmOverlay { background-color: rgba(0,0,0,0.5); }

  div.jqmConfirm { /* contains + positions the alert window */
    display: none;

    position: fixed;
    top: 17%;
    width: 100%;
    left: 0;
  }

  div.jqmConfirmWindow {
    height: auto;
    width: auto;
    margin: auto;
    max-width: 420px;
    padding: 0;
    background: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1px 5px #BBB;
    border-radius: 3px;
    position: relative;
    padding-bottom: 50px;
  }

  .jqmConfirmTitle{
    margin: 0;
    height: auto;
    color: black;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-shadow: 0 1px 0 white;
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    text-transform: capitalize;
  }
  .jqmConfirmTitle h2 {
    margin:5px 2px;
    padding: 5px 6px;
    /*font-size:18px;*/
    text-transform:capitalize;
    letter-spacing: 1px;
    font-weight: normal;
  }

  div.jqmConfirmContent{
    color: black;
    font-size: 14px;
    padding: 0 15px;
    margin: 15px 0;
    line-height: 18px;
  }

  div.jqmConfirm div.jqmActions {
    display: block;
  }
  div.jqmConfirm input#confirm_accepted {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  div.jqmConfirm input#confirm_rejected {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .modal {
      display: none;
  }
  .modal.alert {
    background: white;
    position: fixed;
    top: 45%;
    left: 45%;
  }

/* Twitter Bootstrap */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  line-height: 16px;
  opacity: 0;
}
.tooltip.fade {
  -webkit-transition: opacity 0.25s ease 0s;
  -moz-transition:    opacity 0.25s ease 0s;
  -ms-transition:     opacity 0.25s ease 0s;
  -o-transition:      opacity 0.25s ease 0s;
  transition:         opacity 0.25s ease 0s;
}
.tooltip.in {
  opacity: 0.9;
}
.tooltip.top {
  margin-top: -3px;
}
.tooltip.right {
  margin-left: 3px;
}
.tooltip.bottom {
  margin-top: 3px;
}
.tooltip.left {
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  border-radius:          4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #333;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #333;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #333;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #333;
}
