body {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*.stuff {
  width: 720px;
  margin: 10px auto;
  position: relative;
}
*/
#content { width: 720px; margin-left: 260px; }
/*header {                 margin-left: 260px;}*/
nav {
  /*position: absolute;*/
  /*width: 220px;*/
  /*left: -220px;*/
  /*top: 0;*/
}

nav > span:first-of-type {
  display: block;
  margin-bottom: 10px;
}

section.category_listing label {
  display: inline-block;
  width: 31%;
}

.sidebar {
  position: fixed;
  width: 240px;
  height: 100%;
  left: 0;
  top: 0;
  background: #343434;
  padding: 20px;
  padding-top: 0;
}