body {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*.stuff {
  width: 720px;
  margin: 10px auto;
  position: relative;
}
*/
#content { margin-left: 260px; }
/*header {                 margin-left: 260px;}*/
nav {
  /*position: absolute;*/
  /*width: 220px;*/
  /*left: -220px;*/
  /*top: 0;*/
}

nav > span:first-of-type {
  display: block;
  margin-bottom: 10px;
}

section.category_listing label {
  display: inline-block;
  width: 31%;
}

nav {
  position: fixed;
  width: 240px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  padding-top: 0;
}
nav ol { list-style-type: none; padding: 0; }
nav ol li { margin: 0 0 10px 0; }
nav h3 {
  padding: 10px 10px 10px 20px; position: relative; left: -20px; width: 240px;
}