.segments {
  /*width: 610px;*/
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  display: inline-block;
  vertical-align: top;
}
.segments.yearly {
  /*width: 320px;*/
}

.segments a {
  text-decoration: none;
  /*color: #fff;*/
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.segment {
  position: relative;
  width: 75px;
  border: 1px solid #ddd;
  display: inline-block;
  text-align: center;
  margin: 0 0 5px 0;
  background: rgba(255,255,255,0.75);
}

.segments.yearly .segment {
  width: 125px;
}
.segment span {
  display: inline-block;
}

.segments .segment span:first-of-type {
  font-size: 11px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding: 2px;
  margin: 0;
  display: block;
  background: rgba(0,0,0,0.05);
}
/* the amount */
.segments.yearly .segment span[data-amount] {
  min-height: 20px;
  padding: 10px 0;
}
.segment:hover {
  background: rgba(0,0,0,0.05);
}
.segment.large {
  width: auto;
}
.segments .segment.large span {
  padding: 10px 20px;
}
.segments .segment.large span:last-of-type {
  padding: 30px 0 45px 0;
  min-width: 160px;
}

.segments .segment span.tx_count {
  position: absolute;
  padding: 3px 5px;
  bottom: -1px; right: -1px;
  /*background: rgba(0,0,0,0.05);*/
  width: 100%;
  font-size: 0.75em;
  border: 1px solid #ddd;
  /*border-radius: 5px 0 0 0;*/
}
.chart {
  padding: 10px 10px 0 10px;
  border: 1px solid #DDD;
  border-top: none;
  margin-bottom: 10px;
}

.chart > h3:first-child {
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;
  width: 918px;
  position: relative;
  top: -12px;
  border: 1px solid #DDD;
  border-left: none;
  border-right: none;
  left: -10px;
  margin-top: 0;
  margin-bottom: -12px;
}
.chart span.hint {
  font-style: italic;

}

.reports h2.framed {
  position: relative; left: -10px; padding-left: 30px; width: 969px; border-radius: 2px 0 0 1px;
}

.reports h2.framed:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  left: 0;
  border-width: 0 10px 10px 0;
  border-color: transparent rgba(255,255,255, 0.5) transparent transparent;
  z-index: 10;
}

.stats {
  line-height: 24px;
}
.stats ol {
  list-style-type: none;
}
.stats > ol { padding-left: 0;}
.stats > ol > li {
  margin-bottom: 10px;
}

.stats .bigger {
  font-size: 1.5em;
}
.stats .big {
  font-size: 1.25em;
}
