<% content_for :layout_classes do %>welcome<% end %>
<div id="welcome_view">
  <h1 style="background: none;">
    <img class="logo" src="/images/pibi_64.png" alt="Pibi" title="Meet Pibi!" style="vertical-align: middle;" />
    Pibi <small class="hint">- Track your pennies</small>
  </h1>
  <div class="spanner">
    <p class="emphasized">The <u>simple <span class="hint">it's free, too!</span></u> solution for tracking money you spend and earn.</p>

  </div>
  <br />
  <div class="column">
    <h2>Features</h2>
    <ul>
      <li>Track deposit and withdrawal transactions (or, <strong>transies</strong>!)</li>
      <li>Organize your transies using tags and categories</li>
      <li>Manage your <strong>bills</strong></li>
      <li>Stats &amp; reports that provide you with an insight into your spending and saving patterns
      </li>
    </ul>
  </div>
  <div class="column">
    <h2>Give it a try</h2>
    <p>It's extremely easy to get started, just fill out the form the below and get
      your account created.
    </p>

    <%= partial "/users/_form" %>

    <p>You can also <a href="/sessions/new">sign in</a> using a 3rd-party account:
      <br />
      <br />
      <%= partial "static/oauth_signin" %>
    </p>

  </div>
</div>
