
<div id="welcome_view">
  <h1>Pibi&trade; <small class="hint">Manage your money</small></h1>
  <div class="column left">
    <h2>What she is</h2>
    <p>The ultimate solution to money management. Track every penny you've spent or saved.</p>
    <p>
      <a href="<%= AppURL %>"><%= AppName %></a>&trade; is equipped with an easy-to-use interface and
      a plethora of killer features to help you manage your financial transactions. What's even more, it's <strong>FREE TO USE!</strong>
    </p>
    <img class="logo" src="/images/service.png" alt="Pibi" title="Meet Pibi!" style="vertical-align: middle;" />
  </div>
  <div class="column">
    <h2>What she serves</h2>
    <ul>
      <li>Track deposit and withdrawal transactions (or, <strong>transies</strong>!)</li>
      <li>Organize your transies using tags and categories</li>
      <li>Manage daily, monthly, and yearly bills using <a href="/features#recurring">recurring transies</a></li>
      <li>Receive monthly reports of your financial activity in your email
        <small class="hint">(coming soon)</small>
      </li>
      <li>Yearly and monthly reports that provide you with an insight into your spending and saving patterns
        <small class="hint">(coming soon)</small>
      </li>
      <li>Export activity as PDF and Excel to view offline and manage manually
        <small class="hint">(coming soon)</small>
      </li>
      <li>And <a href="/features">more</a></li>
    </ul>
  </div>
  <div class="column">
    <h2>Get started, try a <span class="hint">bite</span></h2>
    <p>It's extremely easy to get started, just fill out the form the below and get
      your account created.
    </p>

    <%= partial "/users/_form" %>

    <p>You can also <a href="/sessions/new">sign in</a> using your Facebook or Twitter account.</p>

  </div>
</div>
