
<div id="welcome_view">
  <h2>Pibi - <small>your private banking bot</small></h2>

  <p>Tired of forgetting what you spent your money on, or how full your pocket currently is?</p>
  <p>
  Pibi is a personal banking bot that lives to help you track every penny gained and spent
  without getting in the way!

  <span><br />
  </span>
  </p>
</div>
