<h2><%= @c.name %></h2>
<form method="POST" action="/categories/<%= @c.id %>">
  <fieldset>
    <legend>Category</legend>
    <input type="text" name="name" value="<%= @c.name %>" />
    <input type="submit" value="Update" style="display: inline-block;" />
  </fieldset>
</form>
