
  <h3>Create a category</h3>
  <form method="POST" action="/categories">
    <label>Name: <input type="text" name="name" placeholder="Everyday Expenses" /></label>

    <input type="submit" value="Create" />
  </form>

  <h3>Categories</h3>
  <% if @user.categories.empty? %>
    <p>You do not have any categories set up yet. You can use
      <a href="/categories">this page</a> to manage your categories.
    </p>
  <% end %>
  <% @user.categories.each do |c| %>
    <label>
      <input type="checkbox" name="categories[]" value="<%= c.id %>" />
      <a href="/categories/<%= c.id %>"><%= c.name %></a>
    </label>
  <% end %>
