<h2><%= @c.name %></h2>
<p><%= @c.transactions.count %> transaction(s) have been categorized as <%= @c.name %>.</p>
<ol>
<% @c.transactions.each do |t| %>
  <li><%= tx_to_html t %></li>
<% end %>
</ol>