<% [ 'facebook', 'google_oauth2', 'github' ].each do |p| %>
  <a title="Sign in using your <%= provider_name(p) %> account" href="/auth/<%= p %>"><img src="/images/icons/32x32/<%= p %>.png" /></a>
<% end %>
