<% content_for :title do %> Sign in | <%= AppName %> <% end %>
<% content_for :layout_classes do %>sessions<% end %>
<h1>Use your <%= AppName %>&trade; account</h1>

<form action="/sessions" method="POST">
  <input placeholder="your@email.com" type="text" name="email" />
  <input class="very_fat" type="password" name="password" placeholder="your_password" />

  <!-- <br /> -->
  <input type="submit" class="inline" value="Login" />
  <br />
  <br />
</form>

<h2>Or, 3rd party sign-in</h2>
<a href="/auth/facebook"><img src="/images/54_facebook.png" /></a>
<a href="/auth/github"><img src="/images/64_github.png" /></a>
<a href="/auth/twitter"><img src="/images/64_twitter.png" /></a>

<%= partial "/static/browser_notice" %>
