<!-- <fieldset class="category_listing"> -->
  <li>Categories
    <br /><span class="hint">Click <a href="/categories">here</a> to manage your categories.</span>
  </li>
  <li class="category_listing">
    <% if @user.categories.empty? %>
      <p>You do not have any categories set up yet. You can use
        <a href="/categories">this page</a> to manage your categories.
      </p>
    <% end %>
    <% @user.categories.each do |c| %>
      <label><input type="checkbox" name="categories[]" value="<%= c.id %>" <%= 'checked="checked"' if @tx && @tx.categories.all({ id: c.id }).count > 0 %> />
        <a href="<%= c.url %>" target="_blank"><%= c.name %></a></label>
    <% end %>

  </li>